<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
<h1>User Registration Form</h1>
<form action="/signup" method="post">
    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName"><br>

    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName"><br>

    <label for="surname">Surname:</label><br>
    <input type="text" id="surname" name="surname"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>

    <label for="gender">Gender:</label><br>
    <input type="text" id="gender" name="gender"><br>

    <label for="dateOfBirth">Date of Birth:</label><br>
    <input type="date" id="dateOfBirth" name="dateOfBirth"><br>

    <label for="phoneNumber">Phone Number:</label><br>
    <input type="tel" id="phoneNumber" name="phoneNumber"><br>

    <label for="country">Country:</label><br>
    <input type="text" id="country" name="country"><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>
